<h1>Show backlog entry</h1>

<%= form_for @item do |f| %>
  <%= f.error_messages %>

  <div id="subject">
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </div>
  <div id="description">
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 6 %>
  </div>
  <!-- START_HIGHLIGHT -->
  <div id="persona">
    <%= f.label :persona %><br />
    <%= f.text_field :persona %>
  </div>
  <!-- END_HIGHLIGHT -->

  <p>
    <%= f.submit "Change" %>
  </p>
<% end %>

